.text1{
    max-width: 40em;
    padding: 0 12px;
    margin: 12px auto;
    color: #202122;
}

.title1{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
    word-break: break-word;
    margin: 0;
    padding: 0;
}

.paragraph{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.65;
    margin: .5em 0 1em 0;

}

.code1{
    padding: .2em .5em;
    border: 1px solid #c8ccd1;
}
html{
    scroll-behavior: smooth;
}